input{
    font-weight: bold;
    background-color: #ccffff;
}

body{
    background-color:#eee;
    margin: 0;
    padding: 0;
}

table{
    font-weight: bold;
}

.box{
    background-color: #eee;
    width: 100%;
    height: 100%;
}

.ui-content {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  #align: center;
}